#wrapper {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
}

#content {
  flex: 1 0 auto;
}

#header, #footer {
  flex-shrink: 0;
}

#header {
  height: 60px;
  display: flex;
  align-items: center;
}

#header h1 {
  margin: 0;
}

#footer {
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer p {
  margin: 0;
}